.order {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 2rem;
  }
  
  .actions {
    text-align: center;
  }
  

  .confirm p{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
  }