.card_content { 
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body{
    background-color: aliceblue;
}
.content {
    margin: 0px;
    display: flex;
    padding: 0px;
    justify-content: space-between;
    margin-left: 50px;
}

.content h1 {
    font-size: 40px;
}

.content input{
    margin-top: 50px;
    margin-right: 50px;
    width: 300px;
    height: 30px;
    font-size: 20px;
}